<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
    <div class="nav-bar">
      <div class="brand">
        <a href="#hero"><h1><span>Y</span>udhishthir <span>S</span>harma</h1></a>
      </div>
      <div class="nav-list">
      <div class="hamburger"><div class="bar"></div></div>
      <ul>
        <li><a href="#hero" data-after="Home">Home</a></li>
        <li><a href="#services" data-after="Service">Services</a></li>
        <li><a href="#projects" data-after="Project">Project</a></li>
        <li><a href="#about" data-after="About">About</a></li>
        <li><a href="#contact" data-after="Contact">contact</a></li>
      </ul>
      </div>
    </div>
    </div>
  </section>
  <!-- End Header -->
    <!-- Hero Section -->
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>Hello ,<span></span></h1>
                <h1>My Name is <span></span></h1> 
                <h1>Yudhishthir Sharma <span></span></h1>
                <a href="#projects" type="button" class="cta">Protfolio</a>
            </div>
        </div>
    </section> 
    <!-- End of Hero Section -->

    <!-- Service Section -->
    <section id="services">
        <div class="services container">

        <div class="service-top">
            <h1 class="section-title">Serv<span>i</span>ces</h1>
            <P>I have total three years of experience.</P>
        </div>
        
        <div class="service-bottom">
            <div class="service-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/50/000000/services.png"/></div>
                <h2>Web Design</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta modi maiores facere aliquid dolor aperiam neque quod quia deleniti earum, accusantium numquam molestiae unde officiis voluptate labore ex. Officiis, aliquid.
                </p>
                </div>
            <div class="service-item">
                <div class="icon"><img src="https://img.icons8.com/bubbles/50/000000/services.png"/></div>
                <h2>Web Design</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta modi maiores facere aliquid dolor aperiam neque quod quia deleniti earum, accusantium numquam molestiae unde officiis voluptate labore ex. Officiis, aliquid.
                </p>
                </div>
            <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/50/000000/services.png"/></div>
                    <h2>Web Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta modi maiores facere aliquid dolor aperiam neque quod quia deleniti earum, accusantium numquam molestiae unde officiis voluptate labore ex. Officiis, aliquid.
                    </p>
                    </div>
            <div class="service-item">
                        <div class="icon"><img src="https://img.icons8.com/bubbles/50/000000/services.png"/></div>
                        <h2>Web Design</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta modi maiores facere aliquid dolor aperiam neque quod quia deleniti earum, accusantium numquam molestiae unde officiis voluptate labore ex. Officiis, aliquid.
                        </p>
                        </div>
            </div>

        </div>
    </section>
    <!-- End of Service Section -->
    
    <!-- Project section -->
    <section id="projects">
        <div class="projects container">
            <div class="projects-header">
              <h1 class="section-title">Recent <span>Project</span></h1>
            </div>
            <div class="all-project">
                <div class="project-item">
                 <div class="project-info">
                   <h1>Project 1</h1>
                   <h2>Coding Is love</h2>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit fugiat et iusto dolores consectetur placeat dolorum ipsum laborum possimus! Perspiciatis hic corporis impedit officiis fugit aliquam ab ea aut ipsum!</p>
                 </div>
                  <div class="project-img">
                     <img src="./img/img3.jpg" alt="img">
                  </div>
                </div>

                <div class="project-item">
                    <div class="project-info">
                      <h1>Project 2</h1>
                      <h2>Coding Is love</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit fugiat et iusto dolores consectetur placeat dolorum ipsum laborum possimus! Perspiciatis hic corporis impedit officiis fugit aliquam ab ea aut ipsum!</p>
                    </div>
                     <div class="project-img">
                        <img src="./img/img3.jpg" alt="img">
                     </div>
                   </div>

                   <div class="project-item">
                    <div class="project-info">
                      <h1>Project 3</h1>
                      <h2>Coding Is love</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit fugiat et iusto dolores consectetur placeat dolorum ipsum laborum possimus! Perspiciatis hic corporis impedit officiis fugit aliquam ab ea aut ipsum!</p>
                    </div>
                     <div class="project-img">
                        <img src="./img/img3.jpg" alt="img">
                     </div>
                   </div>

                   <div class="project-item">
                    <div class="project-info">
                      <h1>Project 4</h1>
                      <h2>Coding Is love</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit fugiat et iusto dolores consectetur placeat dolorum ipsum laborum possimus! Perspiciatis hic corporis impedit officiis fugit aliquam ab ea aut ipsum!</p>
                    </div>
                     <div class="project-img">
                        <img src="./img/img3.jpg" alt="img">
                     </div>
                   </div>

                   <div class="project-item">
                    <div class="project-info">
                      <h1>Project 5</h1>
                      <h2>Coding Is love</h2>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit fugiat et iusto dolores consectetur placeat dolorum ipsum laborum possimus! Perspiciatis hic corporis impedit officiis fugit aliquam ab ea aut ipsum!</p>
                    </div>
                     <div class="project-img">
                        <img src="./img/img3.jpg" alt="img">
                     </div>
                   </div>

            </div>
        </div>
    </section>
    <!-- End Of project section -->


    <!-- About Section -->
    <section id="about">
       <div class="about container">
           <div class="col-left">
            <div class="about-img">
              <img src="./img/img2.jpg" alt="">
            </div>
           </div>
           <div class="col-right">
             <h1 class="section-title">About <span>Me</span></h1>
             <h2>Fornt End Devloper</h2>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam at eveniet facilis voluptatibus in officia odit explicabo architecto consequuntur? Optio quae aliquid dignissimos autem corporis ut, magnam cum. Iure, saepe?</p>
              <a href="#" type="button" class="cta">Dwonload Resume</a>
            </div>
       </div> 
    </section>
    <!-- End About Section -->
     
    <!-- Contact Section -->
     <section id="contact">
       <div class="contact container">
         <div>
        <h1 class="section-title">Contact <span>Info</span></h1>
         </div>
         <div class="contact-items">
           <div class="contact-item">
             <div class="icon"><img src="https://img.icons8.com/bubbles/2x/phone.png" alt=""></div>
             <div class="contact-info">
               <h1>Phone</h1>
               <h2>XXXXXXXXXXX</h2>
             </div>
           </div>

           <div class="contact-item">
            <div class="icon"><img src="https://img.icons8.com/bubbles/2x/email.png" alt=""></div>
            <div class="contact-info">
              <h1>Email</h1>
              <h2>yudhishthirsharma6@gmail.com</h2>
            </div>
          </div>

          <div class="contact-item">
            <div class="icon"><img src="https://img.icons8.com/bubbles/2x/map-marker.png" alt=""></div>
            <div class="contact-info">
              <h1>Address</h1>
              <h2>Dis: Bageshwar  Vill: Majiyakhet</h2>
              <h2>Dis: Dehradun   Area: Premnagar</h2>
            </div>
          </div>
         </div>
       </div>
        
     </section>
    <!--End Contact Section  -->

    <!-- Footer -->
    <section id="footer">
      <div class="footer container">
        <div class="brand"><h1><span>S</span>undar <span>N</span>agarkoti</h1></div>
        <h2>Complete Web Application</h2>
        <div class="social-icon">
          <div class="social-item">
            <a href="https://www.linkedin.com/in/sundar-nagarkoti-026972158/"><img src="https://img.icons8.com/bubbles/2x/linkedin.png" alt=""></a>
          </div>
          <div class="social-item">
            <a href="https://www.instagram.com/sundar_nagarkoti/"><img src="https://img.icons8.com/bubbles/2x/instagram-new.png" alt=""></a>
          </div>
          <div class="social-item">
            <a href="https://twitter.com/@xonu_nagarkoti"><img src="https://img.icons8.com/bubbles/2x/twitter.png" alt=""></a>
          </div>
        </div>
        <P>Copyright © 2020 Sundar. All rights reserved</P>
      </div> 
    </section>
    <!-- End Footer -->
    <script src="./app.js"></script>
</body>
</html>
